<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://mywebapplication3568.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mywebapplication3568.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MyWebApplication3568</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MyWebApplication3568</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyWebApplicationContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:tg40twxtnt.database.windows.net,1433;Initial Catalog=MyWebApplication3568_db;User ID=dbuser@tg40twxtnt;Password=RateH0spital$" Name="Data Source=tcp:tg40twxtnt.database.windows.net,1433;Initial Catalog=MyWebApplication3568_db;User Id=dbuser@tg40twxtnt;Password=RateH0spital$;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MyWebApplication.Models.DbModels.MyWebApplicationContext, MyWebApplication" MigrationConfiguration="MyWebApplication.Migrations.Configuration, MyWebApplication" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyWebApplicationContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:tg40twxtnt.database.windows.net,1433;Initial Catalog=MyWebApplication3568_db;User Id=dbuser@tg40twxtnt;Password=RateH0spital$;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>