@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Street<br />
    Sate, Country<br />
    <abbr title="Phone">Phn:</abbr>
    +91-0000-000-000
</address>

<address>
    <strong>header1:</strong> <a href="mailto:Support@example.com">user1@example.com</a><br />
    <strong>header2:</strong> <a href="mailto:Marketing@example.com">user2@example.com</a>
</address>